<div class="container2">

    <div class="firstBox">
        <img src="assets/lafarge-houses-logo.png">
    </div>

    <div class="secondBox">
        <div class="image">
            <img src="assets/images.jpg">
        </div>
        <div class="text">
            <p class="names">Zdravo<br>Jelena i Marko</p>
            <p class="someText">Vasa Lafarge kuca<br>Vojvode Stepe 18<br>Beograd, Srbija</p>
        </div>
    </div>

    <div class="thirdBox">

        <div class="first">
            <p class="start">Pocetak radova</p><span class="date1">12.02.2018</span>
        </div>

        <div class="second">
            <p class="finish">Zavrsetak radova</p><span class="date2">29.03.2018</span>
        </div>

    </div>

    <div class="fourthBox">
        <div class="first">
            <p class="days">Preostalo dana</p>
            <span class="num1">38</span>
        </div>
        <div class="second">
            <p class="progres">Trenutni progres</p>
            <span class="percent">57%</span>
        </div>
    </div>
    <div class="middle">
        <div class="line">
            <div></div>
        </div>
    </div>

    <div class="fifthBox">

    </div>

</div>
